-extends "smartmin/read.html"

-load smartmin sms temba contacts i18n humanize

-block extra-style
  {{block.super}}
  :css
    temba-button {
      display: block;
    }
    li {
      list-style-type: disc;
    }
    .data-field {
      display: flex;
      margin-bottom: 1rem;
    }
    .data-label {
      font-weight: bolder;
      width: 12%;
    }
    .data-value {
      font-weight: none;
    }
    .button-success {
      background: lightgreen;
    }

-block page-title
  {{ page_title }}

-block title-icon
  %span.title-icon
    .glyph.icon-inbox

-block title
  "Message Details"
  %hr

-block subtitle
  {% if object.direction == 'O' %}OUTGOING{% else %}INCOMING{% endif %}

-block content
  %hr
  %br
  %div.sms.object
    .data-field
      .data-label
        UUID:
      .data-value
        {{ object.uuid }}
    .data-field
      .data-label
        ID:
      .data-value
        {{ object.id }}
    .data-field
      .data-label
        Contact:
      .data-value
        %div
          {{ object.contact|urn:user_org }}
        {% if object.contact|name:user_org %}
        %div
          {{ object.contact|name:user_org }}
        {% endif %}
    %hr
    .data-field

      .data-label
        Text:
      .data-value
        {{ msg_text }}
    %hr
    .data-field
      .data-label
        Attachments:
      .data-value
        {% if object.attachments %}
        .value-attachments{ style:"margin-top: 5px" }
          - for attachment in object.attachments
            {% attachment_button attachment %}
        {% else %}
        None
        {% endif %}
    .data-field
      .data-label
        Labels:
      .data-value
        .labels.flex.items-center.flex-wrap
          -for label in object.labels.all
            .lbl.linked.ml-2
              {{ label.name }}
    .data-field
      .data-label
        Channel:
      .data-value
        {{ object.channel }}<br>
        address: {{ object.channel.address }}<br>
        id: {{ object.channel_id }}
    {% if show_channel_logs and not user_org.is_anon %}
    .data-field
      .data-label
        {% if msg_channel_logs %}
          Errors:
          .inline-block.text-gray-400.linked.ml-3.button.button-danger
            {% channel_log_link object %}
        {% else %}
          Channel Logs:
        {% endif %}
      .data-value
        {% if msg_channel_logs %}
          -block log-entries
            {% for log in msg_channel_logs %}
              -include "channels/channellog_log.haml"
            {% endfor %}
        {% else %}
          .inline-block.linked.ml-3.button.button-success
            {% channel_log_link object %}
        {% endif %}
    {% endif %}
    {% if object.failed_reason %}
    .data-field
      .data-label
        Failed Reason:
      .data-value
        {{ object.failed_reason }}
    {% endif %}
    {% for msg_ts in msg_timestamps %}
    .data-field.flex
      .data-label
        {{ msg_ts.label }}
      %ul.data-value
        %li
          {% format_datetime msg_ts.value %}
        %li
          {% short_datetime msg_ts.value %}
        %li
          {{ msg_ts.value|date:"c" }}
        %li
          {{ msg_ts.value|date:"r" }}
    {% endfor %}
    .data-field
      .data-label
        Status:
      .data-value
        {{ msg_status }}
    .data-field
      .data-label
        Visibility:
      .data-value
        {{ msg_visibility }}
    .data-field
      .data-label
        Message Type:
      .data-value
        {{ msg_type }}
    .data-field
      .data-label
        Flow ID:
      .data-value
        {{ object.flow_id }}
    .data-field
      .data-label
        Is High Priority:
      .data-value
        {{ object.high_priority }}
    .data-field
      .data-label
        External ID:
      .data-value
        {{ object.external_id }}
    .data-field
      .data-label
        Metadata:
      .data-value
        {{ object.metadata }}
    .data-field
      .data-label
        Broadcast ID:
      .data-value
        {{ object.broadcast_id }}

-block extra-script
  {{ block.super }}

  :javascript
    // plays an audio attachment on a message
    function playAudioAttachment(audioId) {
      var audio = $('audio#audio-' + audioId);
      var parent = audio.parent();
      var player = audio[0];

      if (!parent.hasClass('playing')) {
        audio.bind('ended', function(){
          parent.removeClass('playing');

        });

        parent.addClass('playing');
        player.currentTime = 0;
        player.play();

      } else {
        parent.removeClass('playing');
        player.pause();
      }
    }
