/****************************************************************************
 styles layered over site as "2nd to last loaded" (final.less loads this)
 ****************************************************************************/

body {
  font-weight: 300;
  line-height: 1.5;
  max-width: 100vw;
}

.page-content {
  /* max-width: 768px; do not punish wide-screens */
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#lead-form {
  display: none !important;
}

#splash {
  /* margin-top: -30px; */
  background: url("@{imgBrandPath}/splash.png") !important;
  background-size: cover !important;
  width: 100%;
  height: 0;
  padding-bottom: 40%;

  h1.description {
    color: var(--secondary-rgb);
    font-weight: 100;
    width: 350px;
    font-size: 38px;
    line-height: 110%;
    padding-right:50px;
    padding-top:50px;
    text-shadow: 1px 1px 4px #000;
    float: right;
    text-align: right;
  }
}

h5.contact-signup {
  position: absolute;
  width:100%;
  color: var(--secondary-rgb);
  text-shadow: 1px 1px #000;
  text-align:right;
  margin-top:-40px;
  a {
    color: #eee;
  }
}

@media (max-width: 767px) {
  #header {
    height: 100px;
  }
}

.btn-primary {
  border: 1px solid #32638e;
  background-color: @color-button-primary;
  background-image: -webkit-linear-gradient(top, #4d8ac1, #3f73a2);
  background: -moz-linear-gradient(top, #4d8ac1, #3f73a2);
}

/* Button simulate "press" */
/*    Step 1 of 2: at rest button with shadow */
.button-light {
  background: azure;
  margin: 1px 4px 6px;
  -webkit-box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.3);
}
/*    Step 2 of 2: btn click no shadow with offset */
.button-light:active {
  box-shadow: 0 1px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}
.button-primary {
  background-color: rgb(var(--primary-rgb));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.button-secondary {
  background-color: rgb(var(--secondary-rgb));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.button-danger {
  background-color: rgb(var(--error-rgb));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

// +++++ BEGIN SPINNER

// colors
@accent-1 : var(--orgname-bkgd);
@accent-2 : #8a9faa;

.spinner {
  position: absolute;
  z-index: 1;
  margin: 2px 2px 2px 2px;
}

// vars
@s01-bigcircle-r : 15px;
@s01-bigcircle-d : calc(@s01-bigcircle-r * 2);

@s01-smallcircle-r : 5px;
@s01-smallcircle-d : calc(@s01-smallcircle-r * 2);

.spinner-01 {
  height: @s01-bigcircle-d;
  .spinner {
    width: @s01-bigcircle-d;
    height: @s01-bigcircle-d;
    &:before {
      display: block;
      position: absolute;
      top: 0; bottom: 0; right: 0; left: 0;
      border-top: solid @s01-smallcircle-r @accent-2;
      border-bottom: solid @s01-smallcircle-r @accent-2;
      border-left: solid @s01-smallcircle-r transparent;
      border-right: solid @s01-smallcircle-r transparent;
      content: "";
      -moz-border-radius: @s01-bigcircle-r;
      -webkit-border-radius: @s01-bigcircle-r;
      -o-border-radius: @s01-bigcircle-r;
      border-radius: @s01-bigcircle-r;
      -webkit-animation: spinner-01 1s infinite ease;
      -moz-animation: spinner-01 1s infinite ease;
      -ms-animation: spinner-01 1s infinite ease;
      -o-animation: spinner-01 1s infinite ease;
      animation: spinner-01 1s infinite ease;
    }
    &:after {
      display: block;
      position: absolute;
      top: 0; bottom: 0; right: 0; left: 0;
      margin: auto;
      width: @s01-smallcircle-d;
      height: @s01-smallcircle-d;
      background-color: @accent-1;
      content: "";
      -moz-border-radius: @s01-smallcircle-r;
      -webkit-border-radius: @s01-smallcircle-r;
      -o-border-radius: @s01-smallcircle-r;
      border-radius: @s01-smallcircle-r;
    }
  }
}

@-webkit-keyframes spinner-01 {
  from { -webkit-transform: rotate(0deg) }
  to { -webkit-transform: rotate(360deg) }
}
@-moz-keyframes spinner-01 {
  from { -moz-transform: rotate(0deg) }
  to { -moz-transform: rotate(360deg) }
}
@-ms-keyframes spinner-01 {
  from { -ms-transform: rotate(0deg) }
  to { -ms-transform: rotate(360deg) }
}
@-o-keyframes spinner-01 {
  from { -o-transform: rotate(0deg) }
  to { -o-transform: rotate(360deg) }
}
@keyframes spinner-01 {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

// ===== END SPINNER

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes flag37 {
  50% {
    opacity: 0;
  }
}

/* HEADER now using Flex box for all its elements, unset some prior CSS hacks. */
#header {
  padding: unset;
  height: unset;
  background-color: var(--header-bg);
  z-index: 2000;
  #logo-area {
    margin-top: 1em;
    margin-left: 2em;
    margin-bottom: 0.5em;

    #big-logo:before {
      content: None;
    }

    .logo {
      font-size: unset;
      text-decoration: none;
      position: unset;
      left: unset;
      top: unset;
      padding-left: unset;
      padding-top: unset;
      display: unset;
      height: auto;
      width: auto;
      img {
        max-width: none;
        width: 184px;
        height: auto;
      }
    }
    .version-str {
      font: caption;
      font-size: small;
      letter-spacing: 0.05em;
      margin-top: 3px;
      color: var(--color-nav-unselected);
      align-self: center;
      user-select: text;
    }
  }

  #menu-area {
    flex-grow: 1;
    align-self: end;

    .org-header {
      align-self: end;
      margin-top: 0.4em;
      margin-bottom: 0.6em;
      margin-right: 1em;
      padding-top: unset;
      max-width: unset;
      font-size: small;
      background-color: var(--orgname-bkgd);
      border-radius: 3px;

      #org-name {
        min-width: 10em;
        display:inline-block;
      }

      .org {
        line-height: 1em;
        padding: 3px 3px;
        width: unset;
      }

      .toggle {
        margin-top: unset;
      }

      .other-orgs {
        width: auto;
        min-width: 10em;

        .org {
          line-height: 1em;
          padding: 3px 3px;
          width: unset;
          max-width: unset;
        }
      }
    }

    #menu {
      min-height: unset;
      margin-right: 2em;
      margin-top: unset;
      padding-bottom: 0.5em;
      flex-grow: 1;
      .more .icon-menu-4 {
        margin-right: unset;
      }
    }
  }

  a.posterize {
    display:inline-block;
    width: 100%;
  }
}

.icon-twilio_inverted:before {
  content: "\e099";
}
.icon-twilio_original:before {
  content: "\e09a";
}
.icon-channel-twilio:before {
  content: "\e09b";
}

.icon-channel-bandwidth:before {
  display: inline-block;
  content: ' ';
  background-image: url('@{imgEngagePath}/bandwidth.svg');
  background-size: 48px 48px;
  height: 48px;
  width: 48px;
}
span.glyph.icon-channel-bandwidth{
  margin-top: 6px;
  -webkit-filter: invert(50%); /* safari 6.0 - 9.0 */
  filter: invert(50%);
  background-size: 64px 64px;
  height: 64px;
  width: 64px;
  text-align: right;
}
.icon-channel-bandwidth.formax-icon {
  -webkit-filter: invert(50%); /* safari 6.0 - 9.0 */
  filter: invert(50%);
}
.icon-channel-bandwidth.medium-help{
  -webkit-filter: invert(50%); /* safari 6.0 - 9.0 */
  filter: invert(50%);
  background-size: 64px 64px;
  height: 64px;
  width: 64px;
}
.icon-channel-postmaster:before {
  display: inline-block;
  content: ' ';
  background-image: url('@{imgEngagePath}/postmaster.svg');
  background-size: 48px 48px;
  height: 48px;
  width: 48px;
}
span.glyph.icon-channel-postmaster{
  margin-top: 6px;
  -webkit-filter: invert(50%); /* safari 6.0 - 9.0 */
  filter: invert(50%);
  background-size: 64px 64px;
  height: 64px;
  width: 64px;
  text-align: right;
}
.icon-channel-postmaster.formax-icon {
  -webkit-filter: invert(50%); /* safari 6.0 - 9.0 */
  filter: invert(50%);
}
.icon-channel-postmaster.medium-help{
  -webkit-filter: invert(50%); /* safari 6.0 - 9.0 */
  filter: invert(50%);
  background-size: 64px 64px;
  height: 64px;
  width: 64px;
}
.icon-arrow-left-8:before {
  content: "\e09c";
}
.icon-close:before {
  content: "\e09f";
}

/* refresh uses ::before to add unicode char and font */
/* just display bkg-img for pm-only icons */
[class^="icon-"]:not(.pm-icon),
[class*=" icon-"]:not(.pm-icon) {
  background-image: none;
}

#chat-btn-label {
  font-size: 0.7em;
  font-variant-caps: petite-caps;
  line-height: 1.875rem;
  height: 1.875rem;
  border-radius: 5px;
}
/* ----------------------------------------------------
 temba components make use of https://lit.dev/ and use the "shadow-DOM".
 This makes it harder to override/target CSS. haml was updated to include
 IDs for specific elements and we target the "slotted" div element for css.
 */
temba-modax:has(div.send-via-btn) {
  padding-right: 8px;
  width: 1.9rem;
}

.mode-icon,
temba-modax > div.send-via-btn {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin-top: -3px;
  font-size: @chatIconSize;
  position: relative;
  /* display cannot be 'contents' else tooltips stop working */
  display: inline-block;
  .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: var(--orgname-bkgd);
    color: var(--color-nav-unselected);
    font-family: "Roboto", 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: large;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    text-align: center;
    padding: 5px;
    z-index: 5;
    position: absolute;
    bottom: 100%;
    left: 50%;
  }
  &:hover .tooltiptext {
    visibility: visible;
  }
}
.mode-icon-pm_element,
temba-modax#send-via-pm_element > div.send-via-btn {
  background: url("@{imgEngagePath}/element-chat.svg");
  background-size: @chatIconSize;
  height: @chatIconSize;
  width: @chatIconSize;
  margin-top: 3px;
}
.mode-icon-pm_signal,
temba-modax#send-via-pm_signal > div.send-via-btn {
  background: url("@{imgEngagePath}/signal-chat.svg");
  background-size: @chatIconSize;
  height: @chatIconSize;
  width: @chatIconSize;
  margin-top: 6px;
}
.mode-icon-pm_session,
temba-modax#send-via-pm_session > div.send-via-btn {
  background: url("@{imgEngagePath}/session-messenger.png");
  background-size: @chatIconSize;
  height: 25px;
  width: 25px;
  margin-top: 0px;
}
.mode-icon-pm_reddit,
temba-modax#send-via-pm_reddit > div.send-via-btn {
  background: url("@{imgEngagePath}/reddit.png");
  background-size: @chatIconSize;
  height: @chatIconSize;
  width: @chatIconSize;
  margin-top: 0px;
}
.mode-icon-pm_mastodon,
temba-modax#send-via-pm_mastodon > div.send-via-btn {
  background: url("@{imgEngagePath}/mastodon.png");
  background-size: @chatIconSize;
  height: @chatIconSize;
  width: @chatIconSize;
  margin-top: 0px;
}
.mode-icon-pm_youtube,
temba-modax#send-via-pm_youtube > div.send-via-btn {
  background: url("@{imgEngagePath}/youtube.png");
  background-size: @chatIconSize;
  height: @chatIconSize;
  width: @chatIconSize;
  margin-top: 0px;
}
.mode-icon-pm_tiktok,
temba-modax#send-via-pm_tiktok > div.send-via-btn {
  background: url("@{imgEngagePath}/tiktok.png");
  background-size: @chatIconSize;
  height: @chatIconSize;
  width: @chatIconSize;
  margin-top: 0px;
}
.mode-icon-pm_service,
temba-modax#send-via-pm_service > div.send-via-btn {
  background: url("@{imgEngagePath}/postmaster.svg");
  background-size: @chatIconSize;
  height: @chatIconSize;
  width: @chatIconSize;
  margin-top: 0px;
  filter: invert(1);
}
/* ----------------------------------------------------*/


#flow {
  .node {
    .flow-start {
      font-size: small;
      margin-top: -2em;
      width: auto;
      min-width: 170px;
      padding: 2px;
      background-color: var(--primary-bg);
      position: absolute;
      text-align: center;
      color: white;
      font-weight: bold;
      font-variant-caps: all-small-caps;
    }
  }
}

#org-area {
  align-self: end;
  display: flex;
  flex-direction: row;
  margin-top: 0.4em;
  margin-bottom: 0.6em;
  margin-right: 1em;
  font-size: small;

  #busy-spinner {
    align-self: start;
    height: 28px;
    width: 28px;
    margin-right: 30px;
  }

  #btn-org-home {
    align-self: start;
    margin-right: 1em;
    cursor: pointer;
    background-image: url("@{imgEngagePath}/house-door.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(1);
    height: 28px;
    width: 28px;
    border-width: 2px;
    /* desire icon, not this emoji
    &:after {
      content: "🏠";
      font-size: large;
    }
     */
  }

  #btn-user-guide {
    align-self: start;
    margin-left: 1em;
    margin-right: 0.7em;
    cursor: pointer;
    background-image: url("@{imgEngagePath}/user-guide-solid.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(1);
    height: 28px;
    width: 28px;
    border-width: 2px;
  }

  #org-name {
    background-color: var(--orgname-bkgd);
    min-width: 15em;
    border: 1px solid #aaa;
    border-radius: 4px;
    color: var(--color-nav-unselected);
    line-height: 28px;
    text-align: center;
  }

  #org-picker-widget {
    align-self: end;
    text-align: center;
  }

  .select2-container {
    .state-disabled {
      text-decoration: line-through;
    }
    .state-icon.state-disabled {
      text-decoration: unset;
      padding-left: 0.5em;
      &:after {
        content: "🚫";
      }
    }
    .state-icon.state-suspended {
      padding-left: 0.5em;
      &:after {
        content: "⚠️";
      }
    }
    .state-icon.state-flagged {
      padding-left: 0.5em;
      &:after {
        content: "🚩";
      }
    }
  }
}
@import "select2-theme-org-picker";

#assign-user-to-org-picker-widget #select2-id_organization-container {
  min-width: 15em;
}
#assign-user-name .controls {
  display: inline-block;
}

.num_in_use {
  &:after {
    content: "☎❌";
  }
}
.num_not_in_use {
  &:after {
    content: "🔵";
  }
}

.multiselect-header {
  .multiselect-select-all {
    font-size: 16px;
    padding-left: 5px;
    margin-right: 8px;

    a {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  .multiselect-label {
    padding-bottom: 0;
    padding-left: 0;
    display: inline;
    vertical-align: sub;
  }
}

//messages
[id^='msgs-label-'] {
  .text-break {
    max-width: 50vw;
    overflow: hidden;
  }
  table.list.selectable tbody tr[data-sender-is-pm='True'] {
    td {
      background-color: #9fffff;
      text-shadow: 0 1px 0 black;
    }
  }
  table.list.selectable tbody tr[data-sender-is-pm='True'][data-flag-id='37'] {
    td {
      color: white;
      background-color: #ff0000;
      text-shadow: 0 1px 0 white;
      animation: flag37 1s linear 60s;
    }
  }
}
//messages: inbox
#msgs-label-I td.w-full .text-break {
  max-width: 64vw;
  overflow: hidden;
}
//messages: flows
#msgs-label-W td.w-full .text-break {
  max-width: 50vw;
  overflow: hidden;
}
//messages: archived
#msgs-label-A td.w-full .text-break {
  max-width: 50vw;
  overflow: hidden;
}
//messages: outbox
#msgs-label-O td.value-text {
  max-width: 50vw;
  overflow: hidden;
}
//messages: sent
#msgs-label-S td.w-full .text-break {
  max-width: 64vw;
  overflow: hidden;
}
//messages: calls
#msgs-label-C {
  table.list.lined tr {
    border-bottom-width: 1px;
  }
  table.list.lined td {
    border-bottom-width: 0;
  }
  td.w-full {
    max-width: 50vw;
    overflow: hidden;
  }
}
//messages: scheduled
#msgs-label-E td.value-text {
  max-width: 64vw;
  overflow: hidden;
}
//messages: failed outgoing
#msgs-label-X td.w-full .text-break {
  max-width: 50vw;
  overflow: hidden;
}
