-extends "smartmin/list.html"
-load smartmin i18n static compress pm

-block extra-style
  :css
    .search-input-area {
      width: 40em;
    }

    tr:nth-child(even) {background: #FFF}
    .button-light{
      padding-bottom: 8px;
      padding-top: 8px;
      padding-left: 18px;
      padding-right: 18px;
    }

    .list_channels_channel {
      width:100%;
    }
    tr {
      text-align: left;
    }
    table .headerSortUp, table .headerSortDown {
      background-color: rgba(141, 192, 219, 0.25);
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    }

    table .headerSortDown {
      background-image: url({% static 'img/sort_dsc.png' %});
      background-repeat: no-repeat;
      background-position: 98% 50%;
    }

    table .headerSortUp {
      background-image: url({% static 'img/sort_asc.png' %});
      background-repeat: no-repeat;
      background-position: 98% 50%;
    }

    #pm_devices .value-uuid {
      font-variant: all-small-caps;
      font-size: large;
    }

    #pm_devices .pm_schemes {
      font-size: 1.4rem;
      .pm_scheme {
        margin-right: 0.3em;
      }
      a:link {
        text-decoration: none;
      }
      /*glyph icons in bootstrap2 size themselves at font-size 16px*/
      .icon-phone:before {
        font-size: 1.4rem;
      }
    }

-block page-top
  #title-area.flex
    .pm-icon.icon-postmaster
    .title-text
      %h1{style:"font-size: xx-large; font-weight: 100;"}
        {{title}}
    .menu-area.ml-auto
      .action-menu-area.ml-1.self-end
        -include "gear_links_include.haml"

{% block content %}
  - block pre-table
    .flex
      - block search-form
        %form#search-form.search-input-area.mb-3
          %temba-textinput.search-query{type:'text', placeholder:'Search', name:"search", value:"{{search}}"}
      .list-buttons-container.ml-2.flex-grow
        .list-buttons.flex.items-center.-mx-2.h-full
          -if 'purge_outbox' in actions
            #action-purge.button-danger.button-action
              .-mt-1.mr-2.glyph.icon-exclamation-sign
              -trans "Purge Outbox"
          -if 'rename' in actions
            %button#action-rename.button-action{data-toggle:"modal", data-target:"#modal-rename-channels"}
              .-mt-1.mr-2.glyph.icon-edit
              -trans "Rename"
            %button#action-command.button-action{data-toggle:"modal", data-target:"#modal-send-command"}
              .-mt-1.mr-2.glyph.icon-edit
              -trans "Send Command"

  - block table
    .table-scroll.shadow.rounded-lg.overflow-x-auto
      %table#pm_devices.list.object-list.lined
        %thead
          %tr
            - if actions
              %th
                %div.multiselect-header
                  %a.multiselect-select-all.checkbox.object-row-checkbox.glyph.icon-checkbox-unchecked.object-row-checkbox
            - for field in fields
              %th{ class:'{% if field|sort_by not in view.non_sort_fields %}header{% if field|sort_by == view.sort_field %} {% if not view.sort_direction or view.sort_direction == "asc" %}headerSortUp{% else %}headerSortDown{% endif %}{% endif %}{% endif %}', id:'header-{{field}}' }
                - if field not in view.non_sort_fields
                  <a href="?_order={% if field|sort_by == view.sort_field %}{% if view.sort_direction == 'asc' %}-{% endif %}{% endif %}{{field|sort_by}}{% if search is not null %}&search={{search}}{% endif %}">{% get_label field %}</a>
                - else
                  {% get_label field %}
        %tbody
          - for obj in object_list
            %tr.object-row{id: 'id-row-{{obj.id}}', data-object-id:'{{ obj.id }}', data-object-uuid:'{{ obj.uuid }}',
                class:'{% cycle "row2" "row1" %} {% if not obj.is_active and obj|is_smartobject %}inactive{% endif %}'}
              -if actions
                %td.checkbox.object-row-check
                  %temba-checkbox{onclick:"handleRowSelection(this)"}
              -for field in fields
                %td{ class:'value-{{field}} {% get_class field obj %}{% if field in link_fields %} clickable{% endif %}'}
                  - if field in link_fields
                    <a {% if pjax %}data-pjax='{{ pjax }}'{% endif %} href="{% get_field_link field obj %}">{% get_value obj field %}</a>
                  - elif field == 'children'
                    .pm_schemes
                      {% for child_obj in obj.children %}
                        <a href="/channels/channel/read/{{ child_obj.uuid }}" data-pm_scheme="{{ child_obj.pm_scheme }}">
                          <div class="pm_scheme {{ child_obj|pm_scheme_class }}" title="{{ child_obj.name }}"></div>
                        </a>
                      {% endfor %}
                  - else
                    {% get_value obj field %}

          - empty
            %tr.empty_list
              - if actions
                %td
              - for field in fields
                %td

    - block extra-rows

  - block post-table

  - block paginator
    .row
      - include "smartmin/sidebar_pagination.haml"

{% endblock content %}

-block post-content
  -if 'purge_outbox' in actions
    %temba-dialog#purge-confirmation.hide(
        header='{{ _("Purge Outbox")|escapejs }}'
        primaryButtonName='{{ _("Purge")|escapejs }}'
        destructive='true'
    )
      .p-6.confirmation-body
        %p
          -trans "Purge all outgoing messages from all of the selected devices?"
        %p
          &nbsp;
        %p
          -trans "Once the outbox is purged, it's messages will be gone forever. There is no way to undo this operation."

  {% if 'rename' in actions %}
    {% include "pm/dialog-rename.haml" with groups=broadcast.groups.all %}
    {% include "pm/dialog-command.haml" with groups=broadcast.groups.all %}
  {% endif %}

-block extra-script
  {{ block.super }}
  <script src="{% static 'engage/js/pm-list.js' %}"></script>
  :javascript
    window.contextData = {
      po_api_key: "{{ po_api_key }}",
      OrgID: "{{ OrgID }}",
      UserID: "{{ UserID }}"
      };