-extends "frame.haml"

-block page-title
  Server Error

-block title
  500 Internal Server Error

-block subtitle
  Something went wrong on our end.

-block content
  Please try again later or contact support.
