<!DOCTYPE HTML>
-load humanize i18n smartmin sms static compress

{% block html-tag %}
<html lang="{{ LANGUAGE_CODE }}">
{% endblock %}
  %head
    %title
      -block page-title
        -if brand.title
          {{ brand.name }} - {{ brand.title }}
        -else
          {{ brand.name }}

    %meta{charset:"utf-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %meta{name:"description", content:"{% block page-description %}{{ brand.meta_desc }}{% endblock %}"}
    %meta{name:"author", content:"{{ brand.meta_author }}"}
    %meta{http-equiv:"X-UA-Compatible", content:"IE=10"}
    %meta{name:"robots", content:"none"}

    -# this view make it possible to process translations from javascript land
    <script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    -compress js
      :javascript
        window.supportEmail = "{{ brand.support_email }}";
        window.subdir = "{{ brand.sub_dir }}";
        var static_url = "{{ STATIC_URL }}";

      //%script{src:"{% static 'bower/jquery/jquery.min.js' %}"}
      %script{src:"{% static 'bower-engage/jquery/jquery.min.js' %}"}
      %script{src:"{% static 'bower/jquery-migrate/jquery-migrate.min.js' %}"}
      //%script{src:"{% static 'bower-engage/jquery/jquery-migrate.min.js' %}"}
      %script{src:"{% static 'bower/toastr/toastr.js' %}"}
      %script{src:"{% static 'bower/bootstrap/js/bootstrap-modal.js' %}"}
      %script{src:"{% static 'bower/bootstrap/js/bootstrap-dropdown.js' %}"}
      %script{src:"{% static 'bower/bootstrap/js/bootstrap-tooltip.js' %}"}
      %script{src:"{% static 'bower/bootstrap/js/bootstrap-tab.js' %}"}
      %script{src:"{% static 'bower/intercooler-js/src/intercooler.js' %}"}
      //%script{src:"{% static 'bower/moment/moment.js' %}"}
      //%script{src:"{% static 'bower/moment-timezone/builds/moment-timezone-with-data.js' %}"}
      %script{src:"{% static 'bower-engage/moment/moment.min.js' %}"}
      %script{src:"{% static 'bower-engage/moment-timezone/moment-timezone-with-data.min.js' %}"}
      %script{src:"{% static 'bower/featherlight/src/featherlight.js' %}"}
      %script{src:"{% static 'bower/video.js/dist/video.js' %}"}
      %script{src:"{% static 'bower/videojs-vjsdownload/dist/videojs-vjsdownload.js' %}"}
      %script{src:"{% static 'bower/xregexp/xregexp-all.js' %}"}
      %script{src:"{% static 'bower-engage/select2/select2.full.min.js' %}"}
      %script{src:"{% static 'flatpickr/dist/flatpickr.min.js' %}"}


      // expanded nav dropdown
      %script{src:"{% static 'bower/jquery-hoverintent/jquery.hoverIntent.js' %}"}

      // Non-bower packages
      %script{src:"{% static 'lib/uuid.js' %}"}
      %script{src:"{% static 'lib/bootstrap-limit.js' %}"}

      -if not debug and not testing
        %script{src:"{% static 'lib/raven.min.js' %}"}

    -compress js
      %script{src:"{% static 'js/temba.js' %}"}
      %script{src:"{% static 'js/labels.js' %}"}

    -include "includes/frame_top.html"

    -if not COMPONENTS_DEV_MODE
      -include "components-head.html"

    -if brand.favico
      %link{type:"image/ico", rel:"shortcut icon", href:"{% static brand.favico %}"}
    -else
      %link{type:"image/ico", rel:"shortcut icon", href:"{% static 'images/favicon.ico' %}"}

    -block styles
      -# do not want to use non-local fonts
      -# %link{rel:'stylesheet', href:'https://fonts.googleapis.com/css?family=Roboto+Mono:300|Roboto:200,300,400,500'}

      -compress css
        %link{type:'text/css', rel:'stylesheet', href:"{% static 'fonts/roboto/stylesheet.css' %}" }
        %link{type:'text/css', rel:'stylesheet', href:"{% static 'bower/bootstrap-css/css/bootstrap.css' %}",  media:'all' }

      -compress css
        %link{type:'text/css', rel:'stylesheet', href:"{% static 'bower/toastr/toastr.css' %}", media:'all'}
        %link{type:'text/css', rel:'stylesheet', href:"{% static 'bower/featherlight/src/featherlight.css' %}", media:'all'}
        %link{type:'text/css', rel:'stylesheet', href:"{% static 'bower/video.js/dist/video-js.css' %}", media:'all'}
        %link{type:'text/css', rel:'stylesheet', href:"{% static 'bower/videojs-vjsdownload/dist/videojs-vjsdownload.css' %}", media:'all'}
        %link{type:'text/css', rel:'stylesheet', href:"{% static 'bower-engage/select2/select2.min.css' %}", media:'all'}
        %link{type:'text/css', rel:'stylesheet', href:"{% static 'flatpickr/dist/flatpickr.min.css' %}", media:'all'}
        %link{type:'text/css', rel:'stylesheet', href:"{% static 'flatpickr/dist/themes/light.css' %}", media:'all'}

      -compress css
        %link{type:'text/css', rel:'stylesheet', href:"{% static 'fonts/icons/style.css' %}", media:'all'}
        %link{type:'text/less', rel:'stylesheet', href:"{% static 'less/print.less' %}", media:'print'}
        %link{type:"text/css", rel:"stylesheet", href:"{% static 'css/temba-components.css' %}"}
        %link{type:'text/css', rel:'stylesheet', href:"{% static 'fonts/tembatoo/style.css' %}", media:'all'}

      -compress css
        {% lessblock %}
          :plain
            @import "style.less";
            // any brand styling tweaks
            @import (optional, reference) "../brands/style.less";
            @import (optional) "../brands/{{brand.slug}}/less/style.less";
        {% endlessblock %}

        // any additional brand styling such as fonts, etc
        -for style in brand.styles
          %link{type:"text/{%if 'less' in style%}less{%else%}css{%endif%}", rel:'stylesheet', href:"{% static style %}", media:'all'}

      -compress css
        %link{rel:"stylesheet", href:"{% static 'css/tailwind.css' %}", type:"text/css"}
        %link{rel:"stylesheet", href:"{% static 'less/refresh.less' %}", type:"text/less"}
        %link{rel:"stylesheet", href:"{% static 'engage/less/frame.less' %}", type:"text/less"}

        -if brand.final_style
          %link{rel:"stylesheet", href:"{% static brand.final_style %}", type:"text/less"}

      -block extra-less

      -block extra-style

      :css
        .button-action.button-danger {
          display: inherit;
        }

    -for incl in brand.head_includes
      -include incl

    <!--[if lt IE 9]>
      %script{src:"//html5shim.googlecode.com/svn/trunk/html5.js"}
    <![endif]-->

{% block body %}

%body#pageBody.bg-gradient

  -if COMPONENTS_DEV_MODE
    <script type="module">
      import '../out-tsc/temba-modules.js';
    </script>
  -else
    -include "components-body.html"

  -block temba-store
    {% if user.is_authenticated and not user.is_anonymous and user_org and not user_org.is_anon %}
      %temba-store(
        completion="/mr/docs/{{ LANGUAGE_CODE }}/editor.json"
        fields="/api/v2/fields.json"
        globals="/api/v2/globals.json"
      )
    {% endif %}

  .flex.flex-col.h-full
    <!-- Header -->
    #header.flex.flex-row.w-full
      #logo-area.flex.flex-col
        %a#big-logo.logo.icon-logo{href:"{% if brand.logo_link %}{{brand.logo_link}}{%else%}/{%endif%}", title:"{{brand.name}}", class:"hover:no-underline"}
          .name
            {{brand.name}}
          %img{ src:"{% static brand.logo %}" }
        %span.version-str{title:"{% if user.is_authenticated and not user.is_anonymous %}{{user.email}}{%endif%}"}
          {% if user.is_authenticated and brand.version %}{{brand.version}}{%else%}&nbsp;{%endif%}

      #menu-area.flex.flex-col.h-full
        -block org
          -include 'includes/org.html'
        -block nav
          -include 'includes/nav.html'

    -if messages
      -block messages
        -for msg in messages
          %div{class:"blert blert-{{ msg.tags }}"}
            {{ msg }}

    -block post-header
    <!-- Content -->
    -block page-container
      .flex-grow
        .page-content
          -block suspension
            {% if user_org.is_suspended %}
              .px-12.-mt-4
                -include "org_suspended_include.haml"
            {% endif %}

          .px-12.py-4
            -block page-top
              .flex.items-start
                .flex.flex-col.mr-5.leading-tight
                  .page-title
                    -block title

                  .page-subtitle
                    -block subtitle

                .flex-grow
                  .flex.justify-end.w-full
                    -block gear-menu
                      -include "gear_links_include.haml"

              -block post-title

            .mt-6
              -block content

            -block post-content

    -block footer
      .footer.text-center.py-12.bg-gray-200.text-gray-500
        {{ request.branding.credits|safe }}

  -trans 'Delete' as title
  %temba-dialog#general-delete-confirmation.hidden{header:"{{title|escapejs}}", primaryButtonName:"{{title|escapejs}}", destructive: "true"}
    .p-6.confirmation-body
      -trans "Are you sure you want to continue? This cannot be undone."

  <button id="btnSound" data-sound-id="37" onclick="playSound();">Play</button>

  // media associated with any form we are displaying
  -if form
    {{ form.media }}

  -block script

    {{block.super}}

    :javascript
      var params = '{{url_params|safe}}';
      var org_home_url_format = '{% url "orgs.org_home" %}?org=%s';
      var org_chosen_url_format = '{% url "orgs.org_choose" %}?organization=%s';
      {% if user.is_superuser %}
        var org_service_url_format = '{% url "orgs.org_service" %}?organization=%s';
      {% endif %}
      {% if user_org %}
        {% if user_org.is_anon %}
          var anon_org = true;
        {% else %}
          var anon_org = false;
        {% endif %}
      {% endif %}

    <script type="text/javascript" src="{% static 'engage/js/frame-common.js' %}"></script>

    -block extra-script

    -block full-page-script

    <script type="text/javascript" src="{% static 'js/libs/jquery.url.js' %}"></script>

    <form id="posterizer" method="post">
      {% csrf_token %}
    </form>

    <script type="text/javascript" src="{% static 'engage/js/frame-ready.js' %}"></script>

{% endblock body %}
</html>
