@font-face {
  font-family: 'tembatoo';
  src:  url('fonts/tembatoo.eot?88uilv');
  src:  url('fonts/tembatoo.eot?88uilv#iefix') format('embedded-opentype'),
    url('fonts/tembatoo.ttf?88uilv') format('truetype'),
    url('fonts/tembatoo.woff?88uilv') format('woff'),
    url('fonts/tembatoo.svg?88uilv#tembatoo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-tembatoo-"], [class*=" icon-tembatoo-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tembatoo' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tembatoo-bandwidth:before {
  content: "\e900";
}
.icon-tembatoo-postmaster:before {
  content: "\e901";
}
.icon-tembatoo-kakao:before {
  content: "\e902";
}
.icon-tembatoo-imo:before {
  content: "\e903";
}
