-extends "smartmin/form.html"

-load compress temba smartmin i18n

-block title-icon
  .title-icon
    %span.glyph.icon-channel-bandwidth

-block form-span

-block title-text
  .title-text
    %h1 Disconnect Bandwidth

-block summary
  -if object.is_connected_to_bandwidth_international
    Connected to Bandwidth International Account - {{bwi_username}}
  -else
    Disconnected from Bandwidth International Account

-block post-form
  -if object.is_connected_to_bandwidth_international and request.META.HTTP_X_FORMAX
    If you no longer want it connected, you can
    %a{href:'javascript:confirmBandwidthInternationalDisconnect();'}
      disconnect your Bandwidth International Account

  - if org_perms.channels.channel_delete
    .disconnect-bandwidth-international.hide
      .title
        -trans "Disconnect Bandwidth International"
      .body
        -blocktrans
          Disconnecting your Bandwidth International account will also remove any Bandwidth International channels connected to it. Are you sure you want to proceed?
    %a#disconnect-bandwidth-international-form.posterize{href:'{% url "orgs.org_bandwidth_international_account" %}?disconnect=true&channel_id={{channel.id}}'}

-block form-buttons
  .form-actions
    -if config.ACCOUNT_SID and config.ACCOUNT_TOKEN
      %input.btn.btn-danger{type:"submit", value:"{{ submit_button_name }}"}
    -else
      %a.btn.btn-primary{href:"{% url 'orgs.org_bandwidth_international_connect'%}"}
        Connect Bandwidth

-block extra-script
  {{block.super}}
  :javascript
    function confirmBandwidthInternationalDisconnect() {
      removalConfirmation("disconnect-bandwidth-international", "Disconnect");
    }
