{% extends "smartmin/read.html" %}
-load static temba compress smartmin i18n

-block page-title
  {{user_org.name|capfirst}}
  
-block title
  {{user_org.name|capfirst}}

-block subtitle
  -trans "Workspace Settings"

-block above-bar
  .pull-right
    -block buttons-right
      -block gear-menu
        -include "gear_links_include.haml"

-block content
  -for channel in channels
    .mt-2
      {{channel.name}}

  -include "formax.haml"

-block extra-script
  {{ block.super }}

  // make sure that this view have djangojs gettext view to process translations in js
  <script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

  <script type="text/javascript" src="{% static 'engage/js/org-home.js' %}"></script>

  :javascript
    $(function() {
        var section = $("#id-" + "{{request.GET.open}}");
        section.data('fixed', 'true');
    });

-block extra-less
  -compress css
    %link{rel:"stylesheet", href:"{% static 'engage/less/org-home.less' %}", type:"text/less"}
