-extends "channels/channel_claim_form.html"
-load i18n compress temba

-block pre-form
  -blocktrans trimmed with name=brand.name
    To register Postmaster, hit the SCAN QR Code button in the app.

-block fields
  -if po_qr and po_qr.qr_base64

    %div.pm-setup
      %div.pm-qr
        %img

      %div.pm-info
        %div.card
          %h4.card-header
            QR Code Data
          %div.card-body
            %code
              Org:&nbsp;{{ user_org.name }}
            %code
              Server:
              %span#po_server
                {{ po_qr.data.server }}
            %code
              API Key:
              %span#po_api_key
                {{ po_qr.data.api_key }}
            %code
              Creator:
              %span#pm_created_by
                {{ user.username }}
            %code
              Name Format:
              %span#pm_name_format
                {{ name_format }}

        %div.form-group.input-group
          %label{for:"pm-name-format"}
            Change the channel name format
          <input type="text" id="pm-name-format" name="pm-name-format" placeholder="{{ name_format }}"
            class="bs5 form-control"
          ><button type="button" class="bs5 btn"
            onclick="reloadNameFormat()"
          ><i class="pm-icon icon-refresh"></i></button>
        %div.help-text.mt-2
          {% verbatim %}
            Available variables:<br/>
            <code style="font-size:small">{{device_id}} {{pm_scheme}} {{pm_mode}} {{phone_number}} {{org}} {{first_name}}</code>
          {% endverbatim %}
        %div.input-group.mt-12
          %label.switch
            %input#enable-multiple{type:"checkbox"}
            %span.slider.round#enable-multiple-span
          %label{for:"enable-multiple-span"}{style:"display: inline; vertical-align: -webkit-baseline-middle;"}
            Add Multiple Devices

  -block form-buttons

-block post-content
  -if pm_app_qrcode
    %temba-dialog#app-qr.hide(
        header='{{ _("Download Postmaster")|escapejs }}'
        primaryButtonName=''
        cancelButtonName='Ok'
    )
      #dlapp-msg.p-6
        -trans "Scan the QR code with the phone to download the app or type in the link shown on the phone's browser."
      %img#dlapp-qr-code{src:"{{ pm_app_qrcode }}" }
      %p.p-6.dlapp-version
        "unknown"
      %p.p-6.dlapp-url
        "replace me"

-block extra-style
  {{ block.super }}

  :css
    .pm-setup {
      display: flex;
      flex-direction: row;
    }
    .pm-info {
      display: flex;
      flex-direction: column;
      margin-left: 2em;
      .card-body {
        display: flex;
        flex-direction: column;
      }
    }

    #setup-modifiers {
      margin-top: 2rem;
    }
    #pm-name-format {
      width: 30em;
    }

    .pm-qr {
      content: url('data:png;base64, {{po_qr.qr_base64}}');
      width: 24rem;
      height: 24rem;
    }

    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 52px;
      height: 26px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    .obscureqr {
      filter: blur(4px);
    }

    #dlapp-msg {
      font-weight: bolder;
      padding-bottom: 0;
    }

    #dlapp-qr-code {
      margin-left: auto;
      margin-right: auto;
    }

    .dlapp-url {
      text-align: center;
      font-size: large;
      font-family: RobotoMono;
      padding-top: 0px;
      padding-bottom: 8px;
    }

-block extra-script
  {{ block.super }}
  :javascript
    function reloadNameFormat() {
      const elNameFormat = document.getElementById('pm-name-format');
      const urlParams = new URLSearchParams(window.location.search);
      urlParams.set('name_format', elNameFormat.value);
      window.location.search = urlParams;
    }

  -if pm_app_qrcode
    :javascript
      window.addEventListener('DOMContentLoaded', function(e) {
        var menuitemQrCode = document.querySelector(".mi-pm-app-qr");
        var dlgQrCode = document.querySelector("#app-qr");
        var setupQrCode = document.querySelector("#setup-qr-code");
        var dl_link = '{{ pm_app_url }}';
        if ( dl_link ) dlgQrCode.querySelector('.dlapp-url').innerHTML = dl_link;
        var dl_version = '{{ pm_app_version }}';
        if ( dl_version ) dlgQrCode.querySelector('.dlapp-version').innerHTML = dl_version;

        menuitemQrCode.addEventListener("click", function(e) {
          if ( setupQrCode ) setupQrCode.classList.add("obscureqr");
          dlgQrCode.classList.remove("hide");
          dlgQrCode.open = true;
        });

        dlgQrCode.addEventListener("temba-button-clicked", function(e) {
          dlgQrCode.open = false;
          if ( setupQrCode ) setupQrCode.classList.remove("obscureqr");
        });
      });

  -if po_qr and po_qr.qr_base64
    :javascript
      setInterval(
        function pollUntilDone(url, interval, timeout) {
          if($('#enable-multiple')[0].checked == false){
            $.get({
                url: "{% url 'ext.api.v2.channel.status' %}.json",
                headers: {'po-nonce': '{{po_qr.data.api_key}}',}
            }, function(relayer_id) {
              if (relayer_id && relayer_id.length > 0) {
                window.location = '{% url "channels.channel_manage" %}?search=' + relayer_id;
              }
            });
          }
        },
        5000
      );
