-extends "smartmin/update.html"

-load smartmin i18n temba static

-block title
  -trans "Update User"

- block pre-form
  .pull-right
    %a#action-delete-user.btn.btn-alert.delete(
      data-submit-href="{% url 'orgs.user_delete' object.id %}"
      data-goto-href="{% url 'orgs.user_list' %}"
    )
      -with user.get_owned_orgs as orgs
        -if orgs
          -trans "Delete "
          -for org in orgs
            %span.org
              {{org.name}}{{forloop|oxford}}
        -else
          -trans "Delete This User"

-block post-content
  - if perms.auth.user_update
    - with user.get_owned_orgs as orgs
      %temba-dialog#delete-confirmation.hide(
        header="{% if orgs %}{% trans 'Delete Workspace' %}{% else %}{% trans 'Delete User' %}{% endif %}"
        primaryButtonName='{{ _("Delete")|escapejs }}'
        destructive='true'
      )
        .p-6.confirmation-body
          %p
            - with user.get_owned_orgs as orgs
              -if orgs
                .delete-warning
                  .attn
                    -trans "Whoa, whoa, whoa!"
                  .orgs
                    -trans "By deleting this login,"
                    -for org in orgs
                      %span.org
                        {{org.name}}{{forloop|oxford}}
                    -blocktrans
                      will also be deleted. All workspace data will be deleted and there is no
                      going back. This includes all flows, contacts, messages, etc.
              - else
                -blocktrans with user.username as name
                  Are you sure you want to delete the login "{{name}}"?

    %temba-dialog#delete-success.hide(
      header='{{ _("Delete User")|escapejs }}'
      primaryButtonName=''
      cancelButtonName='Ok'
    )
      .p-6
        -trans "Delete Successful"

    %temba-dialog#delete-fail.hide(
      header='{{ _("Delete User")|escapejs }}'
      primaryButtonName=''
      cancelButtonName='Ok'
    )
      .p-6.important
        -trans "An error has occured:"
      %p.fail-msg
        "Unknown error"

-block extra-script
  {{ block.super }}

  {% if perms.auth.user_update %}
    <script type="text/javascript" src="{% static 'engage/js/user-update-ready.js' %}"></script>
  {% endif %}
