-extends "channels/channel_claim_form.html"
-load i18n


-block title
  %div
    %h2.font_normalize
      .medium-help{class:"{{ view.channel_type.icon }}"}
      {{ title }}

  %span.middle
    To register Postmaster, hit the SCAN QR Code button in the app.
-block fields
  -if po_qr and po_qr.qr_base64
    %div{class:"pm-qr;"}
      %img{ src:"data:png;base64, {{po_qr.qr_base64}}" }{style:"padding-bottom: 20px"}
    %div{style:"padding-bottom: 20px; display:inline-block; max-width:400px; text-align:left;"}
      %div
        %span
          Claim Code:
        %code
          {{po_qr.data.claim_code}}
      %div
        %span
          Server:
        %code
          {{po_qr.data.server}}
      %div
        %span
          API Key:
        %code
          {{po_qr.data.api_key}}


-block form-buttons

-block extra-script
  {{ block.super }}

  :javascript
    $(function(){
      $("#id_country").select2();
    });

    setInterval(
    function pollUntilDone(url, interval, timeout) {

      $.get('{% url "ext.api.v2.channels" %}.json?claim_code={{po_qr.data.claim_code}}', function(data) {
        if (Array.isArray(data['results']) && data['results'].length > 0) {
          window.location = '{% url "orgs.org_home" %}';
        }
      });
    }, 5000);

-block extra-style
  {{ block.super }}

  :css
    .page-content{
      text-align: center;
    }
    .span9 {
      width: 100% !important;
    }
    .top-bar{
    margin: 0px;
    }

