-extends "channels/channel_claim_form.html"
-load i18n

-block title
  .medium-help.float-left{class:"{{ view.channel_type.icon }}"}

  %h2.font_normalize.header-margin
    {{ title }}
  %span
    To register Postmaster, hit the SCAN QR Code button in the app.

-block fields
  -if po_qr and po_qr.qr_base64
    %div{class:"pm-qr;"}
      %img{ src:"data:png;base64, {{po_qr.qr_base64}}" }{style:"padding-left: 110px; padding-bottom: 20px"}
      %div{style:"padding-left: 100px; padding-bottom: 20px"}
        %div
          %code
            Claim Code: {{po_qr.data.claim_code}}
        %div
          %code
            Server: {{po_qr.data.server}}
        %div
          %code
            API Key: {{po_qr.data.api_key}}


-block form-buttons

-block extra-script
  {{ block.super }}

  :javascript
    $(function(){
      $("#id_country").select2();
    });

    setInterval(
    function pollUntilDone(url, interval, timeout) {

      $.get('{% url "ext.api.v2.channels" %}.json?claim_code={{po_qr.data.claim_code}}', function(data) {
        if (Array.isArray(data['results']) && data['results'].length > 0) {
          window.location = '{% url "orgs.org_home" %}';
        }
      });
    }, 5000);

-block extra-style
  {{ block.super }}

  :css
    .pm-qr {
      width: 500px !important;
    }

