-extends "channels/channel_claim_form.html"
-load i18n compress temba

-block pre-form
  -blocktrans trimmed with name=brand.name
    To register Postmaster, hit the SCAN QR Code button in the app.

-block fields
  -if po_qr and po_qr.qr_base64

    %div{class:"pm-qr;"}
      %img#setup-qr-code{src:"data:png;base64, {{po_qr.qr_base64}}" }{style:"padding-left: 186px; padding-bottom: 20px"}
      %div{style:"padding-left: 176px; padding-bottom: 20px"}
        %div
          %code
            Claim Code: {{po_qr.data.claim_code}}
        %div
          %code
            Server: {{po_qr.data.server}}
        %div
          %code
            API Key: {{po_qr.data.api_key}}

        %div{style: "margin-top: 30px;"}
          %label.switch
            %input#enable-multiple{type:"checkbox"}
            %span.slider.round#enable-multiple-span
          %label{for:"enable-multiple-span"}{style:"display: inline; vertical-align: -webkit-baseline-middle;"}
            Add Multiple Devices

  -block form-buttons

-block post-content
  -if pm_app_qrcode
    %temba-dialog#app-qr.hide(
        header='{{ _("Download Postmaster")|escapejs }}'
        primaryButtonName=''
        cancelButtonName='Ok'
    )
      .p-6.important
        -trans "Scan the QR code with the phone to download the app or type in the link shown on the phone's browser."
      %img#dlapp-qr-code{src:"{{ pm_app_qrcode }}" }
      %p.p-6.dlapp-url
        "replace me"

-block extra-style
  {{ block.super }}

  :css
    .pm-qr {
      width: 500px !important;
    }

    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 52px;
      height: 26px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    .obscureqr {
      filter: blur(4px);
    }

    .p-6.important {
      font-weight: bolder;
    }

    #dlapp-qr-code {
      margin-left: auto;
      margin-right: auto;
    }

    .dlapp-url {
      text-align: center;
      font-size: large;
      font-family: RobotoMono;
      padding-top: 0px;
      padding-bottom: 0px;
    }

-block extra-script
  {{ block.super }}

  -if pm_app_qrcode
    :javascript
      window.addEventListener('DOMContentLoaded', function(e) {
        var menuitemQrCode = document.querySelector(".mi-pm-app-qr");
        var dlgQrCode = document.querySelector("#app-qr");
        var setupQrCode = document.querySelector("#setup-qr-code");
        var dl_link = '{{ pm_app_url }}';

        menuitemQrCode.addEventListener("click", function(e) {
          setupQrCode.classList.add("obscureqr")
          dlgQrCode.classList.remove("hide");
          dlgQrCode.open = true;
        });

        if ( dl_link ) dlgQrCode.querySelector('.dlapp-url').innerHTML = dl_link;
        dlgQrCode.addEventListener("temba-button-clicked", function(e) {
          dlgQrCode.open = false;
          setupQrCode.classList.remove("obscureqr")
        });
      });

  -if po_qr and po_qr.qr_base64
    :javascript
      setInterval(
        function pollUntilDone(url, interval, timeout) {
          if($('#enable-multiple')[0].checked == false){
            $.get('{% url "ext.api.v2.channel.status" %}.json?api_key={{po_qr.data.api_key}}', function(relayer_id) {
              if (relayer_id && relayer_id.length > 0) {
                window.location = '{% url "channels.channel_manage" %}?search=' + relayer_id;
              }
            });
          }
        },
        5000
      );
